<div class="fixed-width">
  <div class="main-area" id="contact_container">
	<h2>Select Home Warranty Contact Info</h2>
	<div>
	  <p>
		<strong>To Apply For A Warranty</strong><br/>
		go to:<br/>
		<a href="/quote">http://www.selecthomewarranty.com/quote</a>
	  </p><p>
		<strong>To Request Service</strong>
		email:<br/>
		<a href="mailto:<%=$installation.claims_email%>"><%=$installation.claims_email%></a>
	  </p><p>
		<strong>Phone Number:</strong><br/>
		<%=$installation.phone%><br/>
	  </p><p>
		<strong>Email:</strong><br/>
		<a href="mailto:<%=$installation.info_email%>"><%=$installation.info_email%></a>
	  </p><p>
		<strong>Fax Number:</strong><br/>
		<%=$installation.fax%>
	  </p>
	</div>
    
	<div>
	  <p>Payment Mailing for Select Home Warranty - Please help us to serve you better.</p>
	  <div>
		<p><strong>To mail both a PAYMENT AND PAPER INVOICE use the address:</strong></p>
		<p>
		  One International Blvd.<br/>
          Suite 400<br/>
          Mahwah, New Jersey 07495-0400
		</p>
		<p>
		  * Include both the payment and paper invoice in your envelope.<br>
		  * Write your contract number on your check.
		</p>
	  </div>
	</div>
  </div>
</div>
<%= google_analytics_js %>