<% content_for(:head)  %>

<div class="fixed-width">
  <div class="billboard homepage">
    <div class="info">
      <div class="top">&nbsp;</div>
      <div class="info-content">
        <h1>Shield your wallet from home repair expenses with a contract from <%= $installation.name %>.</h1>
        <p>As a homeowner, you never know when a heat or plumbing system, appliance, or garage door will break down. Repairing these systems requires time to look for a suitable repair technician and exorbitant repair costs. For a small service fee, you can have a pre-screened, licensed local service technician repair or replace your covered broken system or appliance on your schedule. Our network boasts a 10,000 strong workforce of licensed local contractors who are ready to assist you. We are available 24 hours a day, 365 days a year.</p>
        <p>
          <a href="<%= quote_path %>" class="button"><img src="<%= image_path 'buttons/get-free-quote.gif' %>" alt="Get Free Quote" /></a>
        </p>

      </div>
      <div class="bottom">&nbsp;</div>
    </div>
    <div class="relax"></div>
  </div>

  <div class="testimonials" id="homepage-testimonials">
    <%=Content.for(:testimonials).html_safe%>
  </div>

  
</div>
<%= google_analytics_js %>
