<div class="fixed-width">
  <div class="sidebar">
    <img src="<%= image_path 'pictures/plans.jpg' %>" class="photo" alt="" />
    <div class="interested-info">
      <h2>I'm Interested...</h2>
      
      <h4>But how much will I really save?</h4>
      <p>With Select's annual or monthly payment options, you can significantly reduce the out-of-pocket repair expenses simply by becoming a customer! Without an Select Warranty you could face staggering repair costs as high as $1300 and maybe more!</p>

      <%= render :partial => 'homeowners_table' %>

    </div>
  </div><!-- /sidebar -->

  <div class="main-area">
    <h2>Coverage Plans</h2>

	<%= render :partial => 'plans_table' %>
    
    <h4>Please take advantage of the Optional Coverage Below:</h4>

    <div id="plans-coverages">
      <% @optional_coverages.each do |group| %>
      <ul>
        <% group.each do |coverage|
           unless coverage.nil? %><li><%= coverage %></li>
        <% end end %>
      </ul>
      <% end %>
    </div>
    <div class="get-quote">
      <a href="<%= quote_path %>" class="get-quote-btn"><strong>Get a Free Quote Now</strong></a>
    </div>
  </div>
</div>
<%= google_analytics_js %>