<!DOCTYPE html>
<html>
<head>
  <title>Eripme</title>
  <%= stylesheet_link_tag 'application', media: 'screen'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<%= google_analytics_js %>
</body>
</html>
